<div class= "users-show">
    <%= @user.name %>

    <%= @user.created_at%>
</div>

<% @user.posts.each do |post| %>
  <%= link_to post.plan_name, post %>
<% end %>

<li class="new">
      <%= link_to "新規投稿", new_post_path %> <!--新規投稿へのリンク-->
</li>



