<div class="main top-main">
  <div Align="center" class="top-message">
    <h1>我々のサービスでは</h1>
  
  <!--<div style="margin-right:20px">--><!--右から20px余白あけるコマンド-->
      <h2>あなたに合ったツアーを検索することができ、個人ガイドと交渉することができます<h2>
      <h2>あなただけのツアーを提案、実現することができます！</h2>
     
  </div>
    
  <div class="search-button">
    <button>
    <h3>キーワード入力でツアーを検索する</h3>
    </button>
    <button>
    <h3>カテゴリー別にツアーを検索する</h3>
    </button>
  </div>
  
  <div class="guide">
  <h3>ガイド希望の方</h3>
  <button>
    <h3>Log in</h3>
  </button>
  <button>
    <h3>sign up</h3>
  </button>
  </div>
</div>