<div class= "posts-contact">
    <div class="about-info">
	  <h3>Contact</h3>
	</div>
            <%= form_tag("/posts/contact_create") do %>
      <div class="form">
        <div class="form-body">
          <textarea name="content"></textarea>
          <input type="submit" value="投稿">
        </div>
      </div>
    <% end %>
</div>