<header>
  <div class="header-logo">
    <a href="/">casualTrip</a><!--トップページへのリンク-->
  </div>
  <ul class="header-menus">
    <li>
     <a href="/about">Our Service</a> <!--サービス紹介ページへのリンク-->
    </li>
  </ul>
</header>

<div class=main posts-index">
  <div class="container">
    <% @posts.each do |post|%>
      <div class="post-index-plan_name">
      <%= link_to(post.plan_name,"/posts/#{post.id}")%>
      <%= image_tag post.image.thumb.url %>
      </div>
    <% end %>
  </div>
</div>


