<!-- gallery -->
<div id="tour" class="gallery">
	<div class="container">
		<div class="gallery-info">
			<h3 class="title">All Tours</h3>
			
			<% @posts.each do |post|%>
        <div class="col-md-4 gallery-grids">
  				<%= link_to(post_path(post)) do %>
  				  <%= image_tag post.image.thumb.url, class: "img-responsive zoom-img" %>
  				  <%= link_to(post.plan_name, post_path(post)) %>
  				<% end %>
  			</div>
      <% end %>
    </div>
	</div>
</div>
<!-- //gallery -->




